/* Assuming you're using Tailwind CSS classes */

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  position: relative;
  overflow: scroll;
  height: 450px;
}

.popup-close-button {
  cursor: pointer;
}

.popup-form {
  /* Customize form styles here */
}
.imageadd{
  height: 250px;
  width: 100%;
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgup{
  height: 90px;
}
/* For responsive design, you might need to adjust the width of the popup and form according to your needs */

.event-container{
  height: 480px;
  width: 450px;
  border-radius: 10px;
}
.event-but{
  width: 94%;
  font-size: 20px;
}
.event-but:hover{
  background-color: rgb(160, 183, 224);
}

@media (max-width: 640px) {
  .event-container{
    height: 400px;
    width: 100%;
    border-radius: 10px;
  }
  .gridres{
    grid-template-columns: auto;
  }
  .allebenttext{
    margin-left: 20px;
  }
}